*.bz2
*.gz
ABOUT-NLS
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
libcxx_config.h
libcxx_config.h.in
libcxxsql.pc
libtool
ltmain.sh
/m4
missing
rpm
stamp-h1
